<!DOCTYPE html>

<html>
    <head>
         <title>LIST OF USER VISITED CITIES</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/jsFunctionsCitiesList.js"></script>
    </head>
    <body>
        
        
        <br/><br/>
        <div id="tableCities"></div>
        
        <br/><br/>
        <button  id="logout">Log out</button>
        
    </body>
</html>
